body {
    background-color: #bebebe;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.email-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px
}